body {
    font-family: 'Hind', sans-serif;
}
#logo {
    max-width: 100px;
    border: rgb(164, 214, 231) 2px solid;
    border-radius: 10px;
    margin: auto auto;
    grid-row: 1/3;
}
#navigation {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: auto;
    background-color: rgb(170, 170, 170);
    margin: 0;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}
#navigation li:first-child {
    display: block;
    text-align: center;
    padding: 5px;
}
#navigation li {
    display: none;
}
header {
    display: grid;
    grid-template-columns: auto auto;
    background-color: rgb(255, 225, 56);
    border-radius: 10px 10px 0 0;
    max-height: 120px;
    max-width: 100%;
}
.hamButton {
    text-decoration: none;
}
header p {
    grid-column: 2 / 3;
    margin: 0 auto;
}
header h1 {
    margin: 10px auto;
}
h2 {
    text-align: center;
}
#positioning {
    position: relative;
}
.weathSumBox {
    max-width: 300px;
    line-height: 10px;
    padding: 5px;
    border: rgb(164, 214, 231) solid 10px;
    border-radius: 10px;
    background-color: rgba(170, 170, 170, 0.8);
    position: absolute;
    top: 30px;
    left: 180px;
}
footer {
    background-color: rgb(255, 225, 56);
    border-radius: 0 0 10px 10px;
    max-height: 70px;
    padding: 10px 0;
    text-align: center;
}
#navigation.responsive li {
    display: block;
    padding: 8px;
}
ul li a {
    text-decoration: none;
    color: black;
    display: block;
}
a:hover {
    background-color: rgb(164, 214, 231);
}
.legal {
    margin: 10px;
}
#hero {
    max-width: 400px;
    display: block;
    margin:0 auto;
}
#forecast {
    display: none;
}
#weathSumHead {
    font-size: 25px;
}
#article {
    max-width: 250px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}
#articlediv {
    margin: 15px auto;
    border: rgb(164, 214, 231) solid 10px;
    border-radius: 10px;
    padding: 10px 0 10px 0;
}
h4 {
    font-size: 45px;
    line-height: 25px;
    margin: 25px;
}
#author {
    font-family: 'Yusei Magic', sans-serif;
    padding-left: 25px;
    font-style: italic;
    font-size: 12px;
}
#artText {
    padding: 10px;
}
#contact-info img {
    max-width: 30px;
}
#contact-info {
    display: grid;
    grid-template-columns: 32px auto;
    grid-template-rows: repeat(5,50px);
    justify-content: center;
    background-color: rgb(170, 170, 170);
}
#location {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
#address {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin: 0;
}
#phone {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
#number {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    margin: 0;
    padding-top: 5px;
}
#email {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}
#emailAdd {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    margin: 0;
    padding-top: 5px;
}
#socialMedia {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
}
#titleContact {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    font-size: 20px;
}
.active {
    font-weight: bold;
    text-decoration: underline;
    background-color: rgb(64, 62, 62);
    color: white;
}
#map {
    display: none;
}
#pancake {
    width: 100%;
    background-color: rgb(164, 214, 231);
    display:none;
}
#words {
    color: palevioletred;
    margin: 0 auto;
    font-size: 35px;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    padding: 15px;
}
#articlediv a {
    padding: 0 0 0 10px;
}
.combo img {
    width:400px;
    height: 250px;
}
.combo p {
    padding:0 0 0 5px;
    font-style: italic;
}
.combo {
    border: solid 5px rgb(164, 214, 231);
    width: 400px;
    margin: 10px auto;
}
#gall-images {
    display: grid;
    grid-template-columns: 450px;
    justify-content: center;
}
form fieldset {
    margin: 2rem 0;
    border: 1px solid #445ba9;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto;
}
label, form div {
    display: grid;
    grid-template-columns: auto;
    padding-top: 20px;
    font-family: 'Hind', sans-serif;
    font-weight: bold;
}
input, textarea, select {
    max-width: 400px;
}
legend {
    font-family: 'Hind', sans-serif;
    font-size: 21px;
}
#severe {
    grid-template-columns: 120px auto 10%;
    max-width: 440px;
}
form div label {
    display: block;
}
.submitBtn {
    border: none;
    background-color: rgb(255, 225, 56);
    color: black;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 600px;
    font-size: 25px;
}
#thanks {
    text-align: center;
    font-size: 30px;
}
.city section:first-child, .city section:nth-child(3), .city section:nth-child(4), .city section:nth-child(5) {
    display: none;
}
.city {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
}
.city section {
    display: grid;
    grid-template-columns: auto;
    border: 2px black solid;
    border-radius: 5px;
    width: 300px;
    margin: 10px 0;
    background-color: rgb(164, 214, 231);
}
.city section img {
    grid-row: 1 / 2;
    display: block;
    margin: 10px auto;
    width: 175px;
    border: 2px rgb(255, 225, 56) solid;
    border-radius: 5px;
}
.city section h4 {
    font-size: 20px;
    margin: 0;
    text-align: center;
}
.city section h5 {
    margin: 5px;
    text-align: center;
}
.city section h5:nth-child(2) {
    font-style: italic;
    font-size: 10px;
}
@media only screen and (min-width: 910px){
    #navigation li:first-child {
        display: none;
    }
    #navigation {
        display: grid;
        grid-template-columns: repeat(6,auto);
        grid-template-rows: auto;
    }
    #navigation li {
        display: block;
        padding: 10px;
    }
    header h1 {
        margin: 0 auto;
        font-size: 50px;
    }
    h2 {
        font-size: 55px;
        margin: 10px;
    }
    #logo {
        max-width: 150px;
    }
    #hero {
        max-width: 870px;
    }
    .weathSumBox {
        top: 10px;
        left: 100px;
    }
    #forecast {
        display: block;
    }
    .sunIcon {
        max-width: 80px;
    }
    #weathForecast {
        display: grid;
        grid-template-columns: repeat(5,80px);
        grid-template-rows: 30px 80px 30px;
        justify-items: center;
        max-width: 400px;
        margin: 0 auto;
        border: black 2px solid;
    }
    #forecast h3 {
        text-align: center;
        font-size: 25px;
    }
    .dayOfWeek {
        background-color: rgb(164, 214, 231);
        min-width: 78px;
        min-height: 30px;
        text-align: center;
        border-bottom: black 2px solid;
    }
    #weathForecast div {
        border-right: black 2px solid;
    }
    .temp {
        min-width: 80px;
        text-align: center;
    }
    #weathForecast div:last-child {
        border-right: none;
    }
    .sunIcon {
        border-right: black 2px solid;
    }
    #article {
        float: right;
        margin-right: 10px;
    }
    #contact-info {
        padding: 20px 180px 0 0;
        position: relative;
        min-height: 350px;
        justify-content: right;
    }
    #map {
        display: block;
        min-width: 400px;
        position: absolute;
        top: 40px;
        left: 80px;
    }
    #gall-images {
        grid-template-columns: 450px 450px;
    }
    form label, input, textarea, select {
        font-size: 25px;
        max-width: 600px;
    }
    legend {
        font-size: 30px;
    }
    fieldset {
        padding-left: 20px;
        width: 700px;
        margin: 0 auto;
    }
    #severe {
        grid-template-columns: 180px auto 10%;
        max-width: 640px;
    }
    .submitBtn {
        margin: 10px auto;
        width: 400px;
        font-size: 25px;
    }  
    .city section {
        grid-template-columns: auto auto;
        width: 800px;
    }
    .city section img {
        grid-column: 2 / 3;
        grid-row: 1 / 6;
        width: 300px;
    }
    .city section h4 {
        font-size: 30px;
        padding: 10px 0 0 0;
    }
    .city section h5 {
        grid-column: 1 / 2;
        font-size: 15px;
    }
    .city section:nth-child(6) img {
        grid-column: 1 / 2;
        grid-row: 1 / 6;
    }
    .city section:nth-child(6) h4, .city section:nth-child(6) h5 {
        grid-column: 2 / 3;
    }
}
@media only screen and (min-width:1300px){
    body {
        margin: 10px auto;
    }
    main {
        max-width: 1300px;
        margin: 0 auto;
    }
    footer {
        max-width: 1300px;
        margin: 0 auto;
    }
    #logo {
        margin: 0;
        justify-self: right;
        align-self: center;
    }
    header h1 {
        margin: 0 0 0 100px;
        font-size: 60px;
    }
    header p {
        margin: -15px 0 0 0;
        padding-left: 100px;
        font-size: 25px;
    }
    .weathSumBox {
        top: 10px;
        left: 130px;
    }
    #gall-images {
        grid-template-columns: 450px 450px 450px;
    }
    .combo:hover {
        box-shadow: 0 0 50px #333;
    }
    form {
        max-width: 750px;
        margin: 0 auto;
    }
    .city {
        grid-template-columns: auto auto auto;
        margin: 10px auto;
    }
    .city section {
        width: 400px;
        grid-template-columns: auto;
        margin: 0 auto;
        padding: 10px 0;
    }
    .city section img {
        grid-column: 1 / 2;
        grid-row: 6 / 7;
    }
    .city section:nth-child(6) img {
        grid-row: 6 / 7;
    }
    .city section:nth-child(6) h4, .city section:nth-child(6) h5 {
        grid-column: 1 / 2;
    }
}